<header class="fixed top-0 w-full">
  <nav class="bg-gradient-to-r from-blue-600 to-blue-900 overflow-hidden flex justify-between items-center w-full p-2 py-4 text-white">
    <%= image_tag 'menu.svg' %>
    <h1 class="font-light text-xl">CATEGORIES</h1>
    <%= button_to destroy_user_session_path, method: :delete, class: "w-6 h-6 m-0 p-0", data: { turbo: false } do %>
      <%= image_tag 'logout.svg', alt: 'Log Out', class: "w-6 h-6 m-0 pt-1" %>
    <% end %>
  </nav>
  <div class="flex justify-between items-center bg-white flex-wrap w-full py-4 px-2 border-b-2 border-gray-400 shadow-md">
    <p class="font-light">Total Expenses:</p>
    <p class="font-bold text-black">$ <%=@total_amount%></p>
  </div>
</header>
<section class="flex flex-col m-auto p-4 gap-4 bg-[#F0F2F1] py-32 mt-2">
  <% @categories.each do |category| %>
    <%= link_to category_entities_path(category) do %>
      <article class="flex bg-white m-auto p-2 gap-2 justify-between">
        <% if category.icon.attached? %>
          <%= image_tag(category.icon, class: "w-20 h-20") %>
        <% else %>
          <%= image_tag "default.jpg", alt: "category icon", class: "w-20 h-20" %>
        <% end %>
        <div class="flex flex-col w-full mt-4">
          <div class="flex justify-between mb-4">
            <h3 class="text-xl"><%= category.name %></h3>
            <% total_amount = category.category_entities.map { |category_entity| category_entity.entity.amount }.sum %>
            <p class="font-bold text-black m-0 p-0">$ <%= total_amount %></p>
          </div>
          <p class="font-light text-xs"><%= category.created_at.strftime('%d %b %Y %H:%M') %></p>
        </div>
      </article>
    <% end %>
  <% end %>
</section>
<div class="fixed bottom-0 w-full items-center justify-center bg-[#5fb523] p-4 border-t-2 border-gray-400 shadow-md">
  <%= link_to "New Category", new_category_path, class: "block w-full p-4 text-center uppercase bg-transparent border-2 border-white text-white" %>
</div>
