  <header class="fixed top-0 w-full">
  <nav  class="  bg-gradient-to-r from-blue-600 to-blue-900 overflow-hidden flex justify-between items-center w-full p-2 py-4 text-white">
    <%= link_to image_tag('back.svg', alt: 'Back'), categories_path %>
    <h1 class="font-light text-xl uppercase">New Category</h1>
    <%= button_to destroy_user_session_path, method: :delete,class:"w-6 h-6 m-0 p-0" ,data: { turbo: false } do %>
      <%= image_tag 'logout.svg', alt: 'Log Out',class:"w-6 h-6 m-0 pt-1"%>
    <% end %>
  </nav>
</header>
<section class="flex flex-col m-auto p-4 gap-4 bg-[#F0F2F1] pb-32 pt-20 mt-2">
  <%= form_with model:Category do |f| %>
    <div class="field">
     <%= f.text_field :name, placeholder: 'Name', value: '', required: true%>
    </div>
    <div class="field">
      <%= f.label :icon %>
      <%= f.file_field :icon %>
    </div>
    <%= f.submit "Create Category", class: "button"%>
  <%end%>
</section>