<!DOCTYPE html>
<html>
<head>
  <title>Budget</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <link href="https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@300;400;700&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-gray-100 h-screen w-screen m-0 p-0 font-proxima-nova text-[#8b96a2]">
<main class="">
  <p class="notice z-40"><%= notice %></p>
  <p class="alert z-40"><%= alert %></p>
  <%= yield %>
</main>
</body>
</html>
  